// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$side-panel-width: 400px;

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: #ccc;
}

.nav-link:hover {
    transition: all 0.4s;
    cursor: default;
}

.nav-link-collapse:after {
    float: right;
    content: '\f0da';
    font-family: 'FontAwesome';
}

.nav-link-collapsing:after {
    float: right;
    content: '\f252';
    font-family: 'FontAwesome';
}

.nav-link-show:after {
    float: right;
    content: '\f0d7';
    font-family: 'FontAwesome';
}

.nav-item {
    ul.nav-second-level {
        padding-left: 0;
        list-style-type: none;
    }

    ul.nav-second-level > .nav-item {
        padding-left: 20px;
    }
}

@media (min-width: 992px) {
    .sidenav {
        position: absolute;
        top: 0;
        left: 0;
        width: $side-panel-width;
        height: calc(100vh - 3.5rem);
        margin-top: 3.5rem;
        background: #343a40;
        box-sizing: border-box;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        overflow-y: scroll;
    }

    .navbar-expand-lg .sidenav {
        flex-direction: column;
    }

    .content-wrapper {
        margin-left: $side-panel-width;
    }

    .footer {
        width: calc(100% - #{$side-panel-width});
        margin-left: $side-panel-width;
    }
}

.notes-ruler-back {
    display: inline-block;
    //margin: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;

    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);

}
.notes-ruler-back:after {
    float: right;
    content: '\f060';
    font-family: 'FontAwesome';
}
.notes-ruler-forward {
    display: inline-block;
    //margin: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;

    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);

}
.notes-ruler-forward:after {
    float: right;
    content: '\f061';
    font-family: 'FontAwesome';
}

.bounce-enter-active {
    animation: bounce-in .5s;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
